# binary
*.exe
*.exe~
*.dll
*.so
*.dylib
./bin/*
*.pid
*.test
db-operator

# common
.idea/
*/.idea/
.DS_Store
test/*.json
db_operator.yaml
config/dbo.yaml

# output
*.out
log/
*/*.log
*.log

#other
archive/*
release/*
test/http-client.env.json
.vscode/
.test
db_operator.pid
